<!Doctype <!DOCTYPE html>
<html>
    <head>
        <title>Commande de nourriture</title>
         <!--  meta tags -->
         <meta charset="utf-8">
         <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

           <!-- Bootstrap CSS -->
         <link rel="stylesheet" href="css/bootstrap.min.css">
         <script type="text/javascript" src="js/jquery.min.js"></script>
         <script type="text/javascript" src="js/bootstrap.min.js"></script>
         
         <!-- <script src="js2/script.js"></script> -->
         <link rel="stylesheet" href="Do_css/commande.css">
         <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    </head>
    <body>

            <div id="navbar">
                  <a id="logo">Recette Fitness</a>
                  <a href="index">Accueil</a>
                  <div id="navbar-right">
                    <a href="deconnection">Déconnection</a>
                  </div>
              </div>
        
        <div class="container admin">
            <div class="row">
                <div class="col-sm-6">
                    <h1>Commander</h1>
                    <br>

                    <form>
                        <div class="form-group">
                            <label>Nom :</label>
                        </div>
                        <div class="form-group">
                            <label>Description :</label>
                        </div>
                         <div class="form-group">
                            <label>Prix :</label>
                         </div>
                         <div class="form-group">
                             <label>Categorie :</label>
                         </div>                  
                    </form>
                    <div class="form-action">
                        <a class="btn btn-primary" href="index"><span class="glyphicon glyphicon-arrow-left"></span> Retour</a>
                        <a class="btn btn-primary" href="livraison"> Passer la commande</a>
                        
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="thumbnail">
                        <img src="images/Dej1.jpg" width="720" heigth="720" alt="...">
                        
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>