<!DOCTYPE html>
<html>
    	<head>
    		<title>Recette fitness</title>

    	     	<!-- Required meta tags -->
              <meta charset="utf-8">
              <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

              <!-- Bootstrap CSS -->
              <link rel="stylesheet" href="css/bootstrap.min.css">
              <script type="text/javascript" src="js/jquery.min.js"></script>
              <script type="text/javascript" src="js/bootstrap.min.js"></script>
              
                  <!-- <script src="js2/script.js"></script> -->
              
              <link href="http://fonts.googleapis.com/css?family=Holtwood+One+SC" rel="stylesheet" type="text/css">
              <link rel="stylesheet" type="text/css" href="Do_css/style.css">
              <link href="http://fonts.googleapis.com/css?family=Holtwood+One+SC" rel="stylesheet" type="text/css">
    	</head>
      <body>
            
            <div id="navvbar">
                <div class="container-fluid">
                 <div class="navbar-header">
                    <a class="navbar-brand" href="#">Recette fitness</a>
                  </div>
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#monMenu">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="monMenu">
                      <ul class="nav navbar-nav" class="nav nav-pills">
                          <li><a href="#">Accueil</a></li>
                          <li><a href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-has-poppup="true" aria-expanded="false"><span class="glyphicon glyphicon-chevron-down"></span>Liens</a> 
                              <div class="dropdown-menu" aria-labelledby="navbar-dropdown">
                                      <a class="dropdown-item" href="#1">Recette</a><br>
                                      <a class="dropdown-item" href="#2">Menu équilibré</a><br>
                                      <a class="dropdown-item" href="#3">Déjeuner</a><br>
                                      <a class="dropdown-item" href="#4">Dîner</a><br>
                                      <a class="dropdown-item"  href="#5">Boissons</a><br>
                                     
                              </div>
                          </li>
                          <li> <a href="temoignage">Témoignages</a> </li>
                          
                      </ul>
                      <form class="navbar-form navbar-right inline-form">
                          <div class="form-group">
                              <input type="search" class="input-sm form-control" placeholder="Recherche">
                              <button type="submit" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-eye-open"></span> Chercher</button>  
                          </div>
                      </form>
                      <ul class="nav navbar-nav navbar-right">
                          <li><a href="connexion"><span class="glyphicon glyphicon-log-in"></span> login</a></li>
                          <button class="boutton1">Je m'abonne</button>
                      </ul>
                  </div>
                </div>

            </div>


            <div id="1">
                <div class="row">
                  <h1>Recette pour un Petit déjeuner sains et Nutritifs</h1>
                  <div class="col-md-12">
                      <video controls="" width="100%" height="500px" loop autoplay>
                        <source src="images/recette.mp4">
                        <source src="images/recette.ogvv">
                        <source src="images/recette.webm">
                      </video>
                  </div>
                </div>
            </div>
             <div id="2">
                <div class="row">
                  <h1> Idée pour un Repas équilibré</h1>
                  <div class="col-md-4 col-sm-6 " id="div">
                    <div class="thumbnail">
                      <a href="#"><img  src="images/Menu4.jpg" alt="..."></a>
                      <div class="caption">
                        <h4>Un Repas délicieux et complet pour redonner de l'énergie <a href="#Recette_repas">Voir la recette</a></h4>
                        <h3>Vous l'aimé, nous vous le livrons.</h3>
                        <a href="commander" class="commande" >Commander</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-6 " id="div">
                    <div class="thumbnail">
                      <a href="#"><img  src="images/Menu5.jpg" alt="..."></a>
                      <div class="caption">
                        <h4>Un Repas délicieux et complet pour redonner de l'énergie <a href="#Recette_repas">Voir la recette</a></h4>
                        <h3>Vous l'aimé, nous vous le livrons.</h3>
                        <a href="commander" class="commande" >Commander</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-6 " id="div">
                    <div class="thumbnail">
                      <a href="#"><img  src="images/Menu6.jpg" alt="..."></a>
                      <div class="caption">
                        <h4>Un Repas délicieux et complet pour redonner de l'énergie <a href="#Recette_repas">Voir la recette</a></h4>
                        <h3>Vous l'aimé, nous vous le livrons.</h3>
                        <a href="commander" class="commande" >Commander</a>
                      </div>
                    </div>
                  </div>

                 </div>                
              </div>   

            
                   

           <div  id="3">
              <div class="row">
                <h1> Idée Déjeuner sain et Nutritif</h1>
                <div class="col-md-4 col-sm-6 " id="div">
                  <div class="thumbnail">
                    <a href="#"><img  src="images/Dej1.jpg" alt="..."></a>
                    <div class="caption">
                        <h4>Un Plat qui réffauche le coeur ! <a href="#Recette_repas">Voir la recette</a></h4>
                        <h3>Vous l'aimé, nous vous le livrons.</h3>
                        <a href="commander" class="commande" >Commander</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6 " id="div">
                  <div class="thumbnail">
                    <a href="#"><img  src="images/Dej2.jpg" alt="..."></a>
                    <div class="caption">
                        <h4>Un Plat qui réffauche le coeur ! <a href="#Recette_repas">Voir la recette</a></h4>
                        <h3>Vous l'aimé, nous vous le livrons.</h3>
                        <a href="commander" class="commande" >Commander</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6 " id="div">
                  <div class="thumbnail">
                    <a href="#"><img  src="images/Dej4.jpg" alt="..."></a>
                    <div class="caption">
                        <h4>Un Plat qui réffauche le coeur ! <a href="#Recette_repas">Voir la recette</a></h4>
                        <h3>Vous l'aimé, nous vous le livrons.</h3>
                        <a href="commander" class="commande" >Commander</a>
                    </div>
                  </div>
                </div>
               </div>
            </div>

            <div  id="4">
                <div class="row">
                  <h1>Dîner Sain et Nutritif</h1>
                  <div class="col-md-4 col-sm-6 " id="div">
                    <div class="thumbnail">
                      <a href="#"><img  src="images/Diner2.jpg" alt="..."></a>
                      <div class="caption">
                          <h4>Se régaler est une affaire de tous les jours.<Br>
                          Une selection validée par votre porte-monnaie <a href="#Recette_repas">Voir la recette</a></h4>
                          <h3>Vous l'aimé, nous vous le livrons.</h3>
                          <a href="commander" class="commande" >Commander</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-6 " id="div">
                    <div class="thumbnail">
                      <a href="#"><img  src="images/Diner3.jpg" alt="..."></a>
                      <div class="caption">
                          <h4>Se régaler est une affaire de tous les jours.<Br>
                          Une selection validée par votre porte-monnaie <a href="#Recette_repas">Voir la recette</a></h4>
                          <h3>Vous l'aimé, nous vous le livrons.</h3>
                          <a href="commander" class="commande" >Commander</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-6 " id="div">
                    <div class="thumbnail">
                      <a href="#"><img  src="images/Diner4.jpg" alt="..."></a>
                      <div class="caption">
                          <h4>Se régaler est une affaire de tous les jours.<Br>
                          Une selection validée par votre porte-monnaie <a href="#Recette_repas">Voir la recette</a></h4>
                          <h3>Vous l'aimé, nous vous le livrons.</h3>
                          <a href="commander" class="commande" >Commander</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

           <div  id="5">
                <div class="row">
                  <h1>Idées jus santé à base de fruits et légumes</h1>
                  <div class="col-md-4 col-sm-6 " id="div">
                    <div class="thumbnail">
                      <a href="#"><img  src="images/Jus1.jpg" alt="..."></a>
                      <div class="caption">
                          <h4>Boisson simple et juteuse. Peut se prendre à toute heure. <a href="#Recette_repas">Voir la recette</a></h4>
                          <h3>Vous l'aimé, nous vous le livrons.</h3>
                          <a href="commander" class="commande" >Commander</a> 
                      </div>
                    </div>
                  </div> 
                  
                  <div class="col-md-4 col-sm-6 " id="div">
                    <div class="thumbnail">
                      <a href="#"><img  src="images/Jus2.jpg" alt="..."></a>
                      <div class="caption">
                          <h4>Boisson simple et juteuse. Peut se prendre à toute heure. <a href="#Recette_repas">Voir la recette</a></h4>
                          <h3>Vous l'aimé, nous vous le livrons.</h3>
                          <a href="commander" class="commande" >Commander</a> 
                      </div>
                    </div>
                  </div> 
                 
                  <div class="col-md-4 col-sm-6 " id="div">
                    <div class="thumbnail">
                      <a href="#"><img  src="images/Jus3.jpg" alt="..."></a>
                      <div class="caption">
                          <h4>Boisson simple et juteuse. Peut se prendre à toute heure. <a href="#Recette_repas">Voir la recette</a></h4>
                          <h3>Vous l'aimé, nous vous le livrons.</h3>
                          <a href="commander" class="commande" >Commander</a> 
                      </div>
                    </div>
                  </div> 
              </div>
            </div>

            <section id="Recette_repas">
                <div class="heading">
                   <h2>Recettes fitness</h2>
                </div>
                <div class="divider"></div>
                <div class="content">
                    <div class="row">
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="titre">
                                <h3>En-cas une heure avant l'entrainement</h3>
                            </div>
                            <div class="thumbnail">
                                <h5>Ingredients :</h5>
                                <ul>
                                    <li>125g de fromage blanc à 0%</li>
                                    <li>1 tartine de pain de seige avec 2 cuillères à soupe de confiture</li>
                                    <li>168 calories, 13g de protéine, 20g de glucides, 4g de lipides</li>
                                </ul>
                                <p>Les protéines du blanc passent dans le sang au moment de l'entrainement, ce qui évite la dégradation musculaire. La confiture apporte le sucre qui va faire grimper l'insuline. réduisant aussi la dégradation musculaire. Le pain de seigle est un glucide à conbustion lente : de cette façon, on évite une hypoglycémie réactionnelle provoquée par l'absorption du sucre seul.</p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="titre">
                                <h3>Le déjeuné parfait</h3>
                            </div>
                            <div class="thumbnail">
                                <h5>Ingredients :</h5>
                                <ul>
                                    <li>100 à 150g de boeuf haché avec 50% de matière grasse.</li>
                                    <li>100g de pâte (poids cru)</li>
                                    <li>120g de brocoli</li>
                                    <li>389 calories, 37g de protéines, 31g de glucides, 13g de lipides</li>
                                </ul>
                                <p>Pour prendre du muscle, rien ne vaut le boeuf : il contient de la créatine pure, toous les acides aminés nécessaires.</p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="titre">
                                <h3>le dîner parfait</h3>
                            </div>
                            <div class="thumbnail">
                                <h5>Ingredients :</h5>
                                <ul>
                                    <li> 1 escalope de poulet (100-150g)</li>
                                    <li> 1 igname</li>
                                    <li>250g de petits pois, de mais et de carottes</li>
                                    <li>Moutarde et/ou mayonnaise allégée</li>
                                    <li>30g de fromage</li>
                                    <li>557 calories, 40g de proteine, 61g de glucides, 17g de lipides</li>
                                </ul>
                                <p>Les glucides de ce plat élève le taux d'insulnine dans le sang, favorisant un environnement hormonal idéal pour l'hypertrophie. L'igname se digère lentement, ce qui soutient cet environnement. La potion de fromage permet d'apporter des matières grasses utile pour la production de testostérone.</p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="titre">
                                <h3>Recette Boisson</h3>
                            </div>
                            <div class="thumbnail">
                                <h5>Ingredients :</h5>
                                <ul>
                                    <li>Carotte</li>
                                    <li>Pomme</li>
                                    <li>Ananas</li>
                                </ul>
                                <p>Piler au mixer : faire bouillir avec beaucoup d'eau et extraire le jus en tamisant.
                                Cette recette tient pendant des mois au frais, l'ananas donne un sucré naturel et agréable au melange. La pomme  améliore le gôut. Boisson simple et juteuse. Peut se prendre à toute heure.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

             <section id="Contact">
              <div class="container">
                <h3>Contactez-nous</h3>
                

                <form class="form-inline">
                  <div class="form-group">
                    <label for="Nom">Nom</label>
                    <input type="text" id="Nom" placeholder="Votre nom" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" id="email" placeholder="Votre email" class="form-control">
                  </div>
                  <button type="button" class="btn btn-primary">OK</button>
                </form>
              </div>
            </section>

            <footer>
                <div class="container"> 
                    <h1>Recettes fitness</h1>
                    <div>Copyright © 2019. Tous droits réservés.</div>
                </div>
            </footer>

            <script src="Java_Script/first.js"></script>

      </body>
</html>